<div id="<%= dom_id search_result %>">
  <p>
    <strong>Keyword:</strong>
    <%= search_result.keyword_id %>
  </p>

  <p>
    <strong>Adwords advertisers:</strong>
    <%= search_result.adwords_advertisers %>
  </p>

  <p>
    <strong>Total links:</strong>
    <%= search_result.total_links %>
  </p>

  <p>
    <strong>Total results:</strong>
    <%= search_result.total_results %>
  </p>

  <p>
    <strong>Html code:</strong>
    <%= search_result.html_code %>
  </p>

</div>
